<script>
export default {
  name: 'auth-form',
  props: {
    authType: {
      type: String,
      required: false,
      default: 'login',
      validator: function (value) {
        return ['login', 'register'].indexOf(value) !== -1
      },
    },
  },
  data() {
    return {
      loading: false,
      user: {
        name: '',
        email: '',
        password: '',
        password_confirmation: '',
      },
    }
  },
  methods: {
    handleForm() {
      if (this.authType === 'register' && this.user.password !== this.user.password_confirmation) {
        alert('Passwords do not match')
        return
      }
      this.$emit('submit-form', this.user)
    },
  },
}
</script>

<template>
  <div class="flex items-center justify-center bg-gray-50 py-12 px-4 px-8">
    <div class="max-w-md w-full space-y-8">
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900"><slot>Sign in to your account</slot></h2>
      <form
        class="mt-8 space-y-6"
        @submit.prevent="handleForm"
        method="POST"
        :class="loading ? 'opacity-50 pointer-events-none' : ''"
      >
        <input type="hidden" name="remember" value="true" />
        <div v-if="authType === 'register'">
          <label for="name" class="sr-only">First Name</label>
          <input
            id="name"
            v-model="user.name"
            type="text"
            required
            class="bg-white shadow w-full text-sm md:text-lg flex p-2 rounded flex-grow border border-gray-100"
            placeholder="First Name"
            data-test="user-name"
          />
        </div>
        <div>
          <label for="email-address" class="sr-only">Email address</label>
          <input
            id="email-address"
            v-model="user.email"
            type="email"
            autocomplete="email"
            required
            class="bg-white shadow w-full text-sm md:text-lg flex p-2 rounded flex-grow border border-gray-100"
            placeholder="Email Address"
            data-test="user-email"
          />
        </div>
        <div>
          <label for="password" class="sr-only">Password</label>
          <input
            v-model="user.password"
            id="password"
            type="password"
            autocomplete="current-password"
            required
            class="bg-white shadow w-full text-sm md:text-lg flex p-2 rounded flex-grow border border-gray-100"
            placeholder="Password"
            data-test="user-password"
          />
        </div>
        <div v-if="authType === 'register'">
          <label for="password" class="sr-only">Confirm Password</label>
          <input
            v-model="user.password_confirmation"
            id="password"
            type="password"
            autocomplete="current-password"
            required
            class="bg-white shadow w-full text-sm md:text-lg flex p-2 rounded flex-grow border border-gray-100"
            placeholder="Confirm Password"
            data-test="user-password-repeat"
          />
        </div>

        <div>
          <button
            type="submit"
            class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm md:text-lg font-medium rounded-md text-white bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
            data-test="user-submit"
          >
            <span class="absolute left-0 inset-y-0 flex items-center pl-3">
              <svg-icon name="lock-closed" class="h-5 w-5 text-gray-500 group-hover:text-gray-400" />
            </span>
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
