<script>
export default {
  name: 'book-details',
  props: {
    book: {
      type: Object,
      required: true,
      default: () => ({}),
    },
    full: {
      type: Boolean,
      default: false,
    }
  }
}
</script>
<template>
  <div class="flex space-x-6 p-6 flex-grow items-start">
    <div class="w-auto" v-if="book.volumeInfo.imageLinks && book.volumeInfo.imageLinks.smallThumbnail">
      <img :src="book.volumeInfo.imageLinks.smallThumbnail" class="max-h-36" />
    </div>
    <div class="w-full flex flex-col justify-center">
      <h1 class="text-gray-900 text-lg font-medium leading-tight" data-test="book-title">
        {{ book.volumeInfo.title }}
      </h1>
      <h1 class="text-gray-600 italic leading-tight mt-1" v-if="book.volumeInfo.title">
        {{ book.volumeInfo.subtitle }}
      </h1>
      <h2 class="mt-2 text-sm" v-if="book.volumeInfo.authors">
        {{ book.volumeInfo.authors.join(', ') }}
      </h2>
      <h3 class="text-gray-700 text-xs mt-3">
        Published {{ book.volumeInfo.publishedDate }}
        {{ book.volumeInfo.pageCount ? `| ${book.volumeInfo.pageCount} pages` : '' }}
      </h3>
      <p class="text-sm mt-4 text-gray-800" v-if="full">
        {{ book.volumeInfo.description }}
      </p>
    </div>
  </div>
</template>
