<script>
import { createBook } from '~/gql/mutations.gql'

export default {
  name: 'book-list',
  props: {
    books: {
      type: Array,
      default: () => [],
    },
  },
  methods: {
    addToBooks(book) {
      this.$apollo.mutate({
        mutation: createBook,
        variables: {
          input: {
            description: book.searchInfo.textSnippet,
            name: book.volumeInfo.title,
            thumbnail: book.volumeInfo.imageLinks.thumbnail,
            author: {
              create: {
                name: book.volumeInfo.authors[0],
              },
            },
          }
        }
      })
    }
  }
}
</script>

<template>
  <div class="mt-6 grid grid-cols-1 md:grid-cols-2 gap-6" data-test="search-results">
    <template v-for="book in books">
      <div
        class="outline-none w-full rounded-lg bg-white shadow divide-y divide-gray-200 flex flex-col"
        :key="book.id"
        data-test="search-result"
      >
        <book-details :book="book" />
        <div>
          <div class="-mt-px flex divide-x divide-gray-200">
            <div class="w-0 flex-1 flex">
              <button
                type="button"
                class="relative -mr-px w-0 flex-1 inline-flex items-center justify-center py-4 text-sm text-gray-700 font-medium border border-transparent rounded-bl-lg hover:text-gray-500"
                @click="$showModal('book', { props: { book }})"
                data-test="more-info"
              >
                <svg-icon name="eye" class="w-5 h-5 text-gray-400" />
                <span class="ml-3 pt-0.5">More Info</span>
              </button>
            </div>
            <div class="-ml-px w-0 flex-1 flex" v-if="$store.getters.loggedIn">
              <button
                type="button"
                class="relative w-full inline-flex items-center justify-center py-4 text-sm text-gray-700 font-medium border border-transparent rounded-br-lg hover:text-gray-500"
                @click="addToBooks(book)"
                data-test="add-to-my-books"
              >
                <svg-icon name="plus-circle" class="w-5 h-5 text-gray-400" />
                <span class="ml-3 pt-0.5">Add to My Books</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </template>
  </div>
</template>
