<script>
export default {
  name: 'modal',
}
</script>

<template functional>
  <div class="fixed z-10 inset-0 overflow-y-auto">
    <div class="flex items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
      <transition
        enter-active-class="transition-all transition-fastest ease-out"
        enter-class="opacity-0"
        enter-to-class="opacity-1"
        leave-active-class="transition-all transition-faster ease-in"
        leave-class="opacity-1"
        leave-to-class="opacity-0"
      >
        <div class="fixed inset-0 transition-opacity" aria-hidden="true" @click="listeners['close']">
          <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
        </div>
      </transition>

      <!-- This element is to trick the browser into centering the modal contents. -->
      <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

      <transition
        enter-active-class="transition-all ease-out duration-300"
        enter-class="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        enter-to-class="opacity-100 translate-y-0 sm:scale-100"
        leave-active-class="transition-all ease-in duration-200"
        leave-class="opacity-100 translate-y-0 sm:scale-100"
        leave-to-class="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
      >
        <div
          class="inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-2xl sm:w-full sm:p-6"
          role="dialog"
          aria-modal="true"
          aria-labelledby="modal-headline"
          data-test="modal-content"
        >
          <button
            type="button"
            class="rounded-full bg-gray-800 text-white p-1 absolute top-0 right-0 -mt-4 -mr-4 shadow-xl"
            @click="listeners['close']"
            data-test="close-modal"
          >
            <svg-icon name="x" class="w-4 h-4" />
          </button>
          <slot />
          <div class="mt-6 flex w-full justify-end space-x-6">
            <slot name="footer" />
          </div>
        </div>
      </transition>
    </div>
  </div>
</template>
