<script>
export default {
  name: 'navigation-link',
  props: {
    to: {
      required: true,
      type: String,
    },
    variant: {
      required: false,
      type: String,
      validator: function (value) {
        return ['mobile'].indexOf(value) !== -1
      },
    },
  },
}
</script>

<template>
  <nuxt-link
    :to="to"
    class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md font-medium"
    :class="variant === 'mobile' ? 'block text-base' : 'text-sm'"
    ><slot
  /></nuxt-link>
</template>

<style scoped>
.nuxt-link-exact-active {
  @apply bg-gray-900 text-white;
}
</style>
