<script>
export default {
  name: 'navigation',
  props: {
    loggedIn: {
      type: Boolean,
      required: true,
    },
  },
  methods: {
    logout() {
      this.$store.dispatch('logout')
    }
  }
}
</script>

<template>
  <nav class="bg-gray-800">
    <div class="max-w-3xl mx-auto px-2 flex items-center justify-center h-16">
      <site-logo />
      <div class="ml-6">
        <div class="flex space-x-4">
          <navigation-link to="/">Instructions</navigation-link>
          <navigation-link to="/search" data-test="search-link">Book Search</navigation-link>
          <template v-if="loggedIn">
            <navigation-link to="/books">My Books</navigation-link>
          </template>
        </div>
      </div>
      <div class="flex justify-end flex-grow space-x-4" data-test="auth-menu">
        <navigation-link v-if="loggedIn" to="/" @click.native="logout" data-test="logout-link"
          >Log Out</navigation-link
        >
        <template v-else>
          <navigation-link to="/register" data-test="register-link">Register</navigation-link>
          <navigation-link to="/login">Sign In</navigation-link>
        </template>
      </div>
    </div>
  </nav>
</template>
