<script>
export default {
  name: 'site-logo',
}
</script>

<template functional>
  <nuxt-link to="/">
    <h1 class="flex-shrink-0 flex items-center text-white" data-test="site-logo">
      <svg-icon name="book" class="w-8 h-8" />
      <span class="whitespace-no-wrap ml-2 text-lg">booj books</span>
    </h1>
  </nuxt-link>
</template>
