<script>
import Vue from 'vue'
import { ModalProvider } from "@/composables/modal-provider"
import ModalList from '@/components/modals'

export default {
  name: 'DefaultLayout',
  components: {
    ModalList
  },
  data() {
    return {
      ModalProvider
    }
  },
  async mounted() {
    this.setupApp()
    try {
      const user = await this.$api.auth.getUser()
      if (user) {
        this.$store.commit('SET_USER', user)
      }
    } catch (e) {

    }
  },
  methods: {
    closeActiveBookModal() {
      this.dropdownOpen = false
      this.$store.commit('books/SET_ACTIVE_BOOK', false)
    },
    setupApp() {
      Vue.prototype.$showModal = this.ModalProvider.showModal
      Vue.prototype.$closeModal = this.ModalProvider.closeModal
      Vue.prototype.$currentModal = this.ModalProvider.getModal.value
    },
  },
}
</script>

<template>
  <div class="bg-gray-50 min-h-screen">
    <navigation :loggedIn="$store.getters.loggedIn" />
    <main class="max-w-3xl mx-auto pt-10 pb-12 px-4 lg:pb-16">
      <Nuxt keep-alive :keep-alive-props="{ include: ['search'] }" />
    </main>
    <modal-list />
  </div>
</template>
