<script>
export default {
  name: 'home',
}
</script>

<template>
  <div>
    <h2 class="my-6 text-center text-3xl font-extrabold text-gray-900">Booj Books - Code Test</h2>
    <h3 class="text-lg md:text-xl my-6 font-bold">Tasks</h3>
    <ol class="list-decimal flex flex-col space-y-3">
      <li>
        Bug Report: Users are submitting the search form multiple times. Please disable the search input and button while the API is searching for books.
      </li>
      <li>
        Feature Request: Create a loading state for the book search page to let users know that the search results are loading.
      </li>
    </ol>
    <h3 class="text-lg md:text-xl my-6 font-bold">Tips</h3>
    <ol class="list-decimal flex flex-col space-y-3">
      <li>
        Feel free to ask clarifying questions about the tasks, the application, features, etc.
      </li>
      <li>
        Feel free to reuse code from other parts of the application, make abstractions, etc.
      </li>
    </ol>
  </div>
</template>

<style scoped>
p a {
  @apply text-blue-600 underline;
}

pre {
  @apply inline bg-gray-200;
}
</style>
