<template>
  <div>
    <form @submit.prevent="searchBooks">
      <label>
        Search by Book Title or Author
        <div class="bg-white shadow outline-none w-full text-sm md:text-lg flex">
          <input
            type="text"
            name="search"
            class="p-2 rounded-l flex-grow"
            v-model="searchQuery"
            placeholder="Try 'Harry Potter' or 'David Foster Wallace'"
            required
            data-test="book-search-input"
          />
          <button
            type="submit"
            class="p-2 px-4 rounded-r text-sm font-medium bg-gray-700 text-white hover:bg-gray-600"
            data-test="book-search-submit-button"
          >
            Submit
          </button>
        </div>
      </label>
    </form>
    <template v-if="hasSearchResults">
      <book-list :books="searchResults[searchQuery]" />
    </template>
  </div>
</template>

<script>
export default {
  name: 'search',
  data() {
    return {
      searchQuery: '',
      searchResults: {},
    }
  },
  computed: {
    hasSearchResults() {
      return this.searchResults[this.searchQuery] && this.searchResults[this.searchQuery].length > 0 ? true : false
    },
  },
  methods: {
    async searchBooks() {
      const { items = [] } = await this.$api.books.searchBooks(this.searchQuery)
      this.$set(this.searchResults, this.searchQuery, items)  // on the searchResults object, create a new entry with the searchQuery as the key and the results as the value
      // eg: {
      //    'harry potter': [{ id: 1 }, { id: 2 }, { id: 3 }]
      // }
    },
  },
}
</script>
