<script>
export default {
  name: 'book-modal',
  props: {
    book: {
      type: Object,
      required: true,
    }
  }
}
</script>

<template>
  <modal @close="$closeModal" data-test="book-modal">
    <book-details :book="book" :full="true" />
    <template slot="footer">
      <button
        type="button"
        class="rounded bg-gray-700 hover:bg-gray-600 text-white px-4 py-2 text-sm"
      >
        Save to My Books
      </button>
    </template>
  </modal>
</template>
