<script>
import { getBook } from '~/gql/queries.gql'

export default {
  name: 'book',
  apollo: {
    book: {
      query: getBook,
      variables() {
        return {
          id: this.$route.params.id
        }
      },
      update: res => res.book
    }
  },
  data() {
    return {
      book: {},
    }
  },
}
</script>

<template>
  <div>
    <pre>{{ book }}</pre>
  </div>
</template>
