<script>
import { getBooks } from '~/gql/queries.gql'
import { deleteBook } from '~/gql/mutations.gql'

export default {
  name: 'books',
  async asyncData({ app, params, redirect }) {
    return app.apolloProvider.defaultClient.query({
      query: getBooks,
    }).then(({ data }) => {
      const books = data.books.data
      return {
        books,
      }
    }).catch(() => redirect('/'))
  },
  data() {
    return {
      books: [],
    }
  },
  methods: {
    deleteBook(id) {
      this.$apollo.mutate({
        mutation: deleteBook,
        variables: {
          id
        }
      }).then(() => {
        const deletedBookIndex = this.books.findIndex((book) => book.id === id)
        this.books.splice(deletedBookIndex, 1)
      })
    }
  }
}
</script>

<template>
  <div>
    <h1 class="text-xl md:text-2xl mb-8">My Books</h1>
    <ul class="space-y-4 sm:grid sm:grid-cols-2 sm:gap-6 sm:space-y-0 lg:gap-8">
      <li v-for="book in books" :key="book.id" class="py-10 px-6 bg-gray-800 text-center rounded-lg">
        <div class="space-y-6 xl:space-y-10">
          <img class="mx-auto h-40 w-40 rounded-full" :src="book.thumbnail" alt="" />
          <div class="space-y-2">
            <div class="font-medium leading-6 space-y-1">
              <h3 class="text-white">{{ book.name }}</h3>
              <p class="text-indigo-400">{{ book.author.name }}</p>
            </div>

            <ul class="flex justify-center space-x-5">
              <li>
                <button class="text-white hover:text-gray-100" @click="$router.push({ name: 'books-id', params: { id: book.id }})">
                  <svg-icon name="eye" class="w-5 h-5" />
                </button>
              </li>
              <li>
                <button class="text-white hover:text-gray-100" @click="deleteBook(book.id)">
                  <svg-icon name="delete" class="w-5 h-5" />
                </button>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</template>
